{% extends 'base.html' %}

{% block content %}
<h1>{{ product.name }}</h1>
<img src="{{ url_for('static', filename='images/' + product.supplier_logo) }}" alt="Logo do Fornecedor">
<p>{{ product.description }}</p>
<p>Compatibilidade: {{ product.compatibility }}</p>
<p>Fornecedor: {{ product.supplier }}</p>
<p>Preço: R$ {{ product.price }}</p>
<form action="{{ url_for('cart') }}" method="POST">
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="number" name="quantity" value="1" min="1">
    <button type="submit">Adicionar ao Carrinho</button>
</form>
<a href="{{ url_for('index') }}">Voltar para a Página Inicial</a>
{% endblock %}